<%= simple_form_for(memory) do |f| %>
  <% if memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
        <% memory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label: "Titre" %>
  <%= f.input :date, label: "Date du souvenir" %>
  <%= f.input :picture, as: :url, label: "Url de la photo" %>
  <%= f.input :note, as: :text, label: "Notes" %>
  <%= f.button :submit, "Enregistrer le souvenir", class: "btn-primary" %>

  <%# Précédent code %>
  <% if false %>

  <div class="field">
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :date, "Date du souvenir" %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :picture, "Lien vers la photo" %>
    <%= form.text_field :picture %>
  </div>

  <div class="field">
    <%= form.label :note, "Notes" %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer le souvenir" %>
  </div>

  <% end %>
  <%# Fin précédent code %>
<% end %>
