<p>
  <strong>Titre :</strong>
  <%= @memory.title %>
</p>

<p>
  <strong>Date du souvenir :</strong>
  <%= @memory.date %>
</p>

<p>
  <strong>Photo :</strong>
  <%= image_tag(@memory.picture, height: '100') %>
</p>

<p>
  <strong>Notes :</strong>
  <%= @memory.note %>
</p>

<%= link_to 'Éditer', edit_memory_path(@memory) %> |
<%= link_to 'Retour', "/" %>
