<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @memory.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @memory.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @memory.date %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@memory.picture, height: '100') %>
</p>

<p>
  <strong>Note:</strong>
  <%= @memory.note %>
</p>

<%= link_to 'Edit', edit_memory_path(@memory) %> |
<%= link_to 'Back', memories_path %>
